{% load static%}

<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <title>Title</title>
         <link rel="stylesheet" type="text/css" href="{% static 'taskProject/css/criar-tarefa.css' %}">
    </head>
    <body>
            <div class="top">
                <div class="title">
                    <h1>Tasks</h1>
                </div>
                <nav class="nav-bar">
                    <ul>
                        <li><a href="#">HOME</a></li>
                        <li><a href="#">GRÁFICO</a></li>
                        <li><a href="#">DICAS</a></li>
                        <li><a href="#">AVISE-ME</a></li>
                        <li><a href="#">SOBRE</a></li>
                    </ul>
                </nav>

            </div>
    </body>
</html>