{% extends 'taskProject/barra_superior.html' %}
{% block content  %}

           {% include 'messagens.html' %}

            <div class="title">
                <h1>Criar Categoria</h1>
            </div>
            <div class="row form justify-content-center">
                <div class="col">
                    <form action="" method="post">{% csrf_token %}
                        <div class="row">
                            <div class="col">
                                <div class="form-group">
                                    <label for="nome">Nome:</label>
                                    <input type="text" name="nome"  id = "nome"  class="form-control" required = "" >    
                                </div>
                                
                            </div>
                        </div>

                        <br>
                        <div class="footer">
                            <div class="row">
                                <div class = "buttons">
                                    <a  class ="btn bg-primary"  href="{% url 'exibir_categoria'  %}">Voltar</a>
                                    <button type="submit" class = "btn btn-ok">Confirmar</button>

                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock content  %}