{% extends 'taskProject/barra_superior.html' %}
{% block content %}
        {% include 'messagens.html' %} 

            <div class="title">
                <h1>Criar Quadro</h1>
            </div>
            <div class="row form justify-content-center">
                <div class="col">
                    <form action="" method="post">{% csrf_token %}
                        <div class="row">
                            <div class="col-3">
                                <div class="form-group">
                                    <label for="nome">Nome:</label>
                                    <input type="text" name="nome"  required = "" class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-8">
                                <div class="form-group">
                                    <label for="descricao">Descrição:</label>
                                    <textarea id = 'descricao' name = 'descricao' width= '10' heigth = '20' rows="10" class="form-control"></textarea>                                     
                                </div>
                                
                            </div>
                        </div>
                        <br>
                        <div class="footer">
                            <div class="row">
                                <div class = "buttons">
                                    <button type="button" class = "btn btn-cancel" >Cancelar</button>
                                    <button type="submit" class = "btn btn-ok">Confirmar</button>
                                    
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

    

    {% endblock content %}
   
   
   
   
