{% extends 'taskProject/barra_superior.html' %}
{% block content %}
            {% include 'messagens.html' %}

            <div class="title">
                <h1>Editar Quadro</h1>
            </div>
            <div class="row form justify-content-center">
                <div class="col">

                    <form action="" method="post">{% csrf_token %}
                        <div class="row">
                            <div class="col-3">
                                <div class="form-group">
                                        <label for="nome">Nome:</label>
                                        <input type="text" name="nome" value="{{quadro.nome}}" required = "" class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-8">
                                <div class="form-group">
                                    <label for="descricao">Descrição:</label>
                                    <textarea name="descricao" cols="75" rows="10" class="form-control">{{quadro.descricao |default_if_none:"" }}</textarea>

                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="footer">
                            <div class="row">
                                <div class = "buttons">
                                    <button type="button" class = "btn btn-cancel">Cancelar</button>
                                    <button type="submit" class = "btn btn-ok">Confirmar</button>
                                    
                                </div>
                            </div>
                        </div>
                    </form>
                </div>

            </div>

{% endblock content %}
