{% extends 'taskProject/barra_superior.html' %}

{% block content %}

    <div class="" >
        <div class="" style="text-align:right; margin-bottom:20px;">
            <a class="botao btn-lg btn-info" href="{% url 'cadastro_tarefa' %}" >Adicionar Tarefa</a>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-4">


            <div class="row" style="">
                <div class="col">
                    <h4><span class="text-primary">Pendentes</span></h4>
                </div>
            </div>

            <div class= "lista-tarefas">
                {% for tarefa_pendente in tarefas_pendentes %}
                    <div class="row">
                        <div class="col">
                            <div class="card card-tarefa" >
                                <div class="card-body">
                                    <h5 class="card-title">{{tarefa_pendente.nome}}</h5>
                                    <p class="card-text">{{tarefa_pendente.descricao |default_if_none:""}}</p>
                                    <a href="#" class="btn-sm btn-primary" data-toggle="modal" data-target="#exampleModal" data-tarefa-id = "{{ tarefa_pendente.id }}" data-modal-form-url = "{% url 'visualizar_modal_form' tarefa_pendente.id %}">Ver detalhes</a>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>

        <div class="col-sm-4">

            <div class="row" style="">
                <div class="col">
                    <h4><span class = "text-info">Em andamento</span></h4>
                </div>
            </div>
            <div class= "lista-tarefas">
                {%for tarefa_em_andamento in tarefas_em_andamento%}
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">{{tarefa_em_andamento.nome}}</h5>
                            <p class="card-text">{{tarefa_em_andamento.descricao|default_if_none:""}}</p>
                            <a href="#" class="btn btn-primary">Visitar</a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>

        <div class="col-sm-4">

            <div class="row" style="">
                <div class="col">
                    <h4><span class="text-success">Concluídas</span></h4>
                </div>
            </div>

            <div class= "lista-tarefas">
                {% for tarefa_concluida in tarefas_concluidas  %}
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">{{tarefa_concluida.nome}}</h5>
                            <p class="card-text">{{tarefa_concluida.descricao}}</p>
                            <a href="#" class="btn btn-primary">Visitar</a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

    <!-- Modal Confirmação de exclusão -->
    <div class="modal fade " id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel"></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form method = "POST" action = "{% url 'excluir_categoria' %}"> {% csrf_token %}

                    <div class="modal-body">
                        
                        <div class="row">
                            <div class="col">
                                <div class="form-group">
                                    <label for="nome">Nome:</label>
                                    <input type="text" name="nome"  id = "nome"  class="form-control" required = "" >    
                                </div>
                                
                            </div>
                            <div class="col-4">
                                <div class="form-group">
                                    <label for="data_previsao_termino">Data Previsão de Término:</label>
                                    <input type="date" name="data_previsao_termino"  id = "data_previsao_termino"  class="form-control"  >    
                                </div>
                                
                            </div>
                        </div>

                        <div class="row">
                            <div class="col">
                                <div class="form-group">
                                    <label for="categoria">Categoria:</label>
                                    <select class="form-control" id = 'categoria' name = 'categoria'>
                                        {% for categoria in  categorias %}
                                            <option value = "{{categoria.id}}">{{categoria.nome}}</option>
                                        {% endfor %}
                                        
                                    </select>
                                                              
                                </div>
                                
                            </div>

                            <div class="col">
                                <div class="form-group">
                                    <label for="horario_previsao_termino">Horário Previsão de Término:</label>
                                    <input type="time" name="horario_previsao_termino"  id = "horario_previsao_termino"  class="form-control"  >    
                                </div>
                                
                            </div>
                        </div>

                        <div class="row">
                            <div class="col">
                                <div class="form-group">
                                    <label for="descricao">Descrição:</label>
                                    <textarea id = 'descricao' name = 'descricao' width= '10' heigth = '10' class="form-control"></textarea>                                     
                                </div>
                                
                            </div>
                        </div>

                        <br>
                        <div class="footer">
                            <div class="row">
                                <div class = "buttons">
                                    <a  class ="btn bg-primary"  href="{% url 'exibir_categoria'  %}">Voltar</a>
                                    <button type="submit" class = "btn btn-ok">Confirmar</button>

                                </div>
                            </div>
                        </div>
                        <input type = "hidden" name = "categoria_id" id = "categoria_id">
                    </div>
                    
                    {% comment %} <div class="modal-footer">
                        <button type="submit" class="btn btn-success" >Confirmar</button>
                        <button type="button"  class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                    </div> {% endcomment %}
                </form>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        $('#exampleModal').on('show.bs.modal', function (event) {
            
            var button = $(event.relatedTarget) // Button that triggered the modal
            var tarefa_id = button.data('tarefa-id') // Extract info from data-* attributes
            var form = document.querySelector("form");
            $.ajax({
                url: button.attr("data-modal-form-url"),
                type: 'GET',
                data: {'tarefa_id':tarefa_id},
                dataType: 'json',
                success: function (data) {
                    var json = JSON.parse(data.tarefa);
                    console.log(json);
                    modal.find('.modal-body #nome').val(json[0].fields.nome);
                    modal.find('.modal-title').html(json[0].fields.nome);      
                    modal.find('.modal-body #data_previsao_termino').val(json[0].fields.data_previsao_termino);
                },error:function(e){
                    console.log(e);
                },
            }); 
            var modal = $(this)
            //modal.find('.modal-body #categoria_id').val(categoria_id)
        })
    </script>

{% endblock content %}

    

