{% block modal %}

<!-- Modal Confirmação de exclusão -->
    <div class="modal fade " id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel"></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form method = "POST" action = "{% url 'atualizar_tarefa' %}"> {% csrf_token %}
                    {% include 'messagens.html' %}
                    <div class="modal-body">
                        
                        <div class="row">
                            <div class="col">
                                <div class="form-group">
                                    <label for="nome">Nome:</label>
                                    <input type="text" name="nome"  id = "nome"  class="form-control" required = "" >    
                                </div>
                                
                            </div>
                            <div class="col-4">
                                <div class="form-group">
                                    <label for="data_previsao_termino">Data Previsão de Término:</label>
                                    <input type="date" name="data_previsao_termino"  id = "data_previsao_termino"  class="form-control"  >    
                                </div>
                                
                            </div>
                        </div>

                        <div class="row">
                            <div class="col">
                                <div class="form-group">
                                    <label for="categoria">Categoria:</label>
                                    <select class="form-control" id = 'categoria' name = 'categoria'>
                                        {% for categoria in  categorias %}
                                            <option value = "{{categoria.id}}">{{categoria.nome}}</option>
                                        {% endfor %}
                                        
                                    </select>
                                                              
                                </div>
                                
                            </div>

                            <div class="col">
                                <div class="form-group">
                                    <label for="horario_previsao_termino">Horário Previsão de Término:</label>
                                    <input type="time" name="horario_previsao_termino"  id = "horario_previsao_termino"  class="form-control"  >    
                                </div>
                                
                            </div>
                        </div>

                        <div class="row">
                            <div class="col">
                                <div class="form-group">
                                    <label for="descricao">Descrição:</label>
                                    <textarea id = 'descricao' name = 'descricao' width= '10' heigth = '10' class="form-control"></textarea>                                     
                                </div>
                                
                            </div>
                        </div>

                        <div class="row">
                            <div class="col">
                                <div class="form-check">
                                    <input type="checkbox" class="form-check-input" name="iniciar_tarefa" id = "iniciar_tarefa" >
                                    <label class="form-check-label" for="iniciar_tarefa"><strong>Iniciar Tarefa</strong></label>
                                </div>
                                
                            </div>
                        </div><div class="row">
                            <div class="col">
                                <div class="form-check">
                                    <input type="hidden" class="form-check-input" name="id" id = "id" >
                                </div>
                                
                            </div>
                        </div>



                        <br>
                        <div class="footer">
                            <div class="row">
                                <div class = "buttons">
                                    <button type="submit" class = "btn btn-success">Confirmar</button>

                                </div>
                            </div>
                        </div>
                        <input type = "hidden" name = "categoria_id" id = "categoria_id">
                    </div>
                    
                    {% comment %} <div class="modal-footer">
                        <button type="submit" class="btn btn-success" >Confirmar</button>
                        <button type="button"  class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                    </div> {% endcomment %}
                </form>
            </div>
        </div>
    </div>
{% endblock modal %}


